@import '../../styles/vars';
@import '../../styles/mixins';

.segment {
  max-width: 1080px;

  h1.title,
  h2.title {
    @include h1;
  }

  h2.title {
    @include h2;
  }

  .description {
    margin-top: $spaceSm;
    color: $textSecondary;
    font-size: 15px;
  }

  .content {
    margin-top: $spaceLg;
    display: flex;
    flex-direction: column;
    gap: $spaceLg;
  }
}
